<h1>Departments</h1>
<h2><%= @department.name %></h2>
<%= link_to 'View Department', departments_path(@department) %>
<%= link_to 'Edit Department', edit_department_path(@department) %>
<%= link_to 'Delete Department', @department, method: :delete %>

<%= @department.items.each do |item| %>
    <%= link_to item.name, item %>
    <%= link_to item.price, item %>
    <%= link_to item.size, item %>
<% end %>

<%= link_to 'Delete Item', @item, method: :delete %>

